<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
  <%= notice %></br>
  <%= f.label :userid %><br />
  <%= f.text_field :userid %></br>
  
  <%= f.label :first_name %></br>
  <%= f.text_field :first_name %></br>
  
  <%= f.label :last_name %></br>
  <%= f.text_field :last_name %></br>
  
  <%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
