
<p>An easy way for players to retreve their lost disc(s).</p>
<p>If you have found a disc golf disc first we want to thank you for kindly helping return it to its owner.</p>
<p>Here is what you need to do:
	<ul>
		<ol>
			<li>Enter the Disc ID from the back into the box below</li>
			<li>Find the nearest mail box and drop it in</li>
			<li>Sign up to track your disc too if you play</li>
			<li>Keep playing and retuning lost discs</li>
		</ol>
<div id="search">
	<form action="" method="">
		<fieldset>
			<label>Enter Disc ID:</label>
			<input type="text" name="discid" id="discid" />
		</fieldset>
		<input type="submit" value="Return Disc" class="button pill"/>
	</form>
</div>