<h2>My Tracker</h2>

<%= link_to('Log out', destroy_user_session_url,
                  :method => :delete,
                  :confirm => "Are you sure you want to log out?",
                  :class => 'button') %>
<%= link_to 'Add Disc', new_disc_path, :class => 'button' %> 
<%= link_to 'Back', discs_path, :class => 'button' %>

<br/><br/>
<table border="2" width="100%">
  <tr>
    <th>Edit</th>
    <th>Remove</th>
    <th>DiscID</th>
    <th>Name</th>
    <th>Style</th>
    <th>Brand</th>
    <th>Plastic</th>
    <th>Color</th>
    <th>Stability</th>
    <th>Weight</th>
    <th>Level</th>
  </tr>
  <tr>
  	<td colspan="11" align="center"><h3>You currently have no discs listed.</h3></td>
  </tr>
</table>
</br>
<%= link_to('Log out', destroy_user_session_url,
                  :method => :delete,
                  :confirm => "Are you sure you want to log out?",
                  :class => 'button') %>
<%= link_to 'Add Disc', new_disc_path, :class => 'button' %> 
<%= link_to 'Back', discs_path, :class => 'button' %>