<footer id="footer">
  <small class="copyright">
    Disc Golf Tracker, Copyright &copy; <%= Date.today.year %> | <a href="http://fineartamerica.com/art/photographs/trees/all" style="font: 10pt arial; text-decoration: underline;">Trees photo</a>
  </small>
</footer>