<header id="header">
    
     <h1>DiscGolfTracker</h1>

	<p class="notice"<%= notice %>></p>
	<p class="alert"><%= alert %></p>
	
	<menu>
		<ul id="nav" class="button-group">
          <li><%= link_to 'Home', root_url, :class => "button primary pill"%>
            <!--<ul>
              <li><%# link_to('Log out', destroy_user_session_url,
                  :method => :delete,
                  :confirm => "Are you sure you want to log out?") %></li>
             </ul>
          </li>-->
          <li><%= link_to 'Courses', '/courses', :class => "button pill"%></li>
          <li><%= link_to 'How To Play', '/rules', :class => "button pill"%></li>
          <li><%= link_to 'Account', discs_url, :class => 'button pill'%>
            
          </li>
          <li><%= link_to 'Credits', '/credits', :class => "button pill"%></li>
        </ul>
	</menu>
</header>