<menu>
   <%= link_to 'Disc Styles', '/discstyle' %> |
   <%= link_to 'Throwing', '/throwingstyle' %> | 
   <%= link_to 'Components', '/coursecomponents' %> | 
   <%= link_to 'Scoring', '/scoring' %>
</menu>