<!DOCTYPE html>
<%# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither %>

<%= html_tag :class => "no-js", :lang => "en" %>
  <%= render "head" %>

  <body>    
  	
    <%= render "chromeframe" %>
    <%= render "header" %>
	   
	<section id="content">
	      <%= render "flashes" %>
	      <%= yield %>
	</section>
	
	<footer id="footer">
	    <%= render "footer" %>
	 
	</footer>
    <%# Javascript at the bottom for fast page loading %>
    <%= render "javascripts" %>
    
  </body>
</html>